{%load static%}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Welcome To eshop </title>
  <style rel = "stylesheet">
  body{
    background-image: url("{% static 'shop/eccommerce.jpg' %}");
    background-size:cover;
    opacity:0.9;

  }
  div.container{
    
    width: 495px;
    height:350px ;
    float:left;
    margin-top:10px;
    margin-left: 10px;
    border-width: 3px;
    border-color:black;
    
  }
  b{
    color:green;
  }
  .container .lead{
    color:white;
  }
  </style>

  </head>
  <body>

  <div class="container">
  <h1 class="display-4"><b>Welcome to eshop</b></h1>
    <p class="lead">eshop is the online shopping platform that provides privacy as well as the fastest delivery services. </p>
    <p class ="lead">We provide simple but the best platform for anyone for the online shopping experience.</p>
    <hr class="my-4">
  <a class="btn btn-success btn-lg" href="/shop" role="button">Start Shopping</a>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>