{% extends 'shop/basic.html' %}

{% block title%} About us{% endblock %}
{% block body %}

<div class="jumbotron">
  <h1 class="display-4">
    <h1>Welcome to e-shop!</h1>
  <p class="lead">e-shop is one of the best secured online market. It was created in order to change the new and efficient way
    of secured shopping while staying on the home . Now, it turned out to be one of the best online shopping websites.
    We hope to make further progress on this e-commerce site in the future if possible.</p>


</div>
<div class="d-flex justify-content-center">
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>
  <div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <div class="card-header"><h1>Contact Us</h1></div>
  <div class="card-body">
    <h5 class="card-title">Contact info: </h5>
    <p class="card-text">Ph : +977-9800-000-000</p>
    <p class="card-text">Email : support.eshop@gmail.com</p>

  </div>© 2020 Copyright: https://www.e-shop.com/
<div class="footer-copyright text-center py-3">
  <h1>Meet Us</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3248.5446966316713!2d85.5283632669506!3d27.627672017324528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb093c9565a5a3%3A0xeabe2eff9568299a!2sShree%20Chandeshwori%20Pool%20House!5e0!3m2!1sen!2snp!4v1583942136881!5m2!1sen!2snp" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

</footer>

<!-- Footer -->

{% endblock %}